/*--- 清除浮动 ----*/
/*---text-overflow:ellipsis 超出省略号显示-------*/
/*--margin:0;padding:0----*/
/*---wigth-height---*/
/*---position---*/
/*---字体样式---*/
footer {
  margin-top: .3rem;
  padding: 0 .2rem .4rem;
  background-color: #f0efed;
}
footer .footer-btn {
  font-size: .28rem;
  margin-bottom: .4rem;
}
footer .footer-btn .pull-right {
  float: right!important;
}
footer .footer-btn .pull-right a.footer-city {
  display: block;
  height: 0.6rem;
  line-height: 0.6rem;
  display: inline-block;
  padding: 0 .3rem;
  border: .02rem solid #06c1ae;
  color: #06c1ae!important;
  font-size: .28rem;
  background: none;
  vertical-align: middle;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 1.8rem;
}
footer .footer-btn .footer-login {
  display: block;
  width: 1.8rem;
  height: 0.6rem;
  line-height: 0.6rem;
  display: inline-block;
  padding: 0 .3rem;
  border: .02rem solid #06c1ae;
  color: #06c1ae!important;
  font-size: .28rem;
  background: none;
  vertical-align: middle;
  text-align: center;
}
footer .footer-btn space {
  display: inline-block;
  width: .12rem;
}
footer .footer-nav {
  margin-bottom: .18rem;
}
footer .footer-nav ul {
  margin: 0;
  padding: .18rem 0;
  font-size: .24rem;
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
footer .footer-nav ul li {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 20%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: .02rem solid #666;
  text-align: center;
}
footer .footer-nav ul li a {
  color: #06c1ae;
}
footer .footer-nav ul li:last-child {
  border-right: 0;
}
footer .footer-link {
  font-size: .24rem;
  margin: .3rem .2rem;
  text-align: center;
}
footer .footer-link a {
  color: #06c1ae;
  outline: 0;
}
footer .footer-copyright {
  font-size: .22rem;
  text-align: center;
  position: relative;
  color: #999;
}
footer .footer-copyright .hr {
  display: block;
  content: ".";
  width: 100%;
  position: absolute;
  top: 50%;
  border-top: 1px solid #999;
}
footer .footer-copyright .footer-copyright-text {
  display: inline-block;
  position: relative;
  padding: 0 .3rem;
  background-color: #f0efed;
}
footer .btn-top {
  display: block;
  width: 0.86rem;
  height: 0.86rem;
  line-height: 0.86rem;
  position: fixed;
  right: .3rem;
  bottom: 1.5rem;
  background: #06c1ae;
  z-index: 130;
  overflow: hidden;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}
footer .btn-top a {
  display: block;
}
footer .btn-top a .icon {
  font-size: .52rem;
}
